
@{
    ViewBag.Title = "Products";
}
@using Batibatlocation.Models
@model IEnumerable<Product>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Prezzo</th>
            <th>Disponibilità</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price €</td>
                <td>@(product.IsAvailable ? "Disponibile" : "Non disponibile")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.Id">Modifica</a> |
                    <a asp-action="Delete" asp-route-id="@product.Id">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>

