@model Batibatlocation.Models.Echafaudage

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>Détails Échafaudage</title>
</head>
<body>
    <div class="container container-echafaudage">
        <div class="details-container">
            <div class="image-container">
                <div class="glide">
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            <li class="glide__slide">
                            <img src="@Model.ImageUrl" alt="@Model.Nom" /></li>
                            @if (ViewBag.ImagePaths != null)
                            {
                                foreach (string imagePath in ViewBag.ImagePaths)
                                {
                                    <li class="glide__slide">
                                        <img src="@Url.Content(imagePath)" alt="@Model.Nom - @imagePath.Split('/').Last().Split('.').First()" />
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="glide__arrows" data-glide-el="controls">
                        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">‹</button>
                        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">›</button>
                    </div>
                    <div class="glide__bullets" data-glide-el="controls[nav]"></div>
                </div>
            </div>
            <div class="info-container">
                <h2>@Model.Nom</h2>
                <dl class="dl-horizontal">
                    <dt>Description:</dt>
                    <dd>@Model.Description</dd>
                    <dt>Prix:</dt>
                    <dd>@Model.Prix €</dd>
                    <dt>Disponibilité:</dt>
                    <dd>@(Model.Disponible ? "Disponible" : "Non disponible")</dd>
                </dl>
                <a href="@Url.Action("CreateReservation", "Reservation", new { echafaudageId = Model.Id })" class="reserve-button">Réserver</a>
            </div>
        </div>
        <div class="specifications-container">
            <h3>Spécifications Techniques</h3>
            <p>@Model.SpecificheTechniques</p>
        </div>
    </div>

</body>
</html>