<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bati'Bat - Location d'Echaufaudages</title>
    <!-- Bootstrap CSS -->
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", required: false)
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/fontawesome")
    @Scripts.Render("~/bundles/glide")
    @RenderSection("Scripts", required: false)
</body>
</html>