<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bati'Bat - Location d'Echaufaudages</title>
    <!-- Bootstrap CSS -->
    @Styles.Render("~/admin/css")
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="background"></div>
    <div class="dashboard-container">
        <div class="header">
            <div class="header-items-left">
                <a href="@Url.Action("Index", "Home")" class="home-link">
                    <i class="fa-solid fa-earth-americas fa-2x home-icon" id="homeIcon"></i> <!-- Icona Home -->
                </a>
            </div>
            <div class="header-items-right">
                <i class="fa-solid fa-house fa-2x notification-icon"></i>
                <i class="fa fa-user-circle-o fa-2x account-icon"></i>
            </div>
        </div>
        <div class="content">
            <div class="left-section">
                <div class="menu-header">
                    <h3>Menu</h3>
                    <i class="fa fa-times fa-2x close-icon visible" id="closeIcon"></i> <!-- X icon -->
                </div>
                <div class="menu-buttons">
                    <a href="@Url.Action("Echafaudages", "Admin")" class="menu-button">Echafaudages</a>
                </div>
            </div>
            <div class="right-section" id="rightSection">
                <div class="right-header">
                    <i class="fa fa-bars fa-2x hamburger-icon" id="hamburgerIconRight"></i> <!-- Hamburger icon -->
                </div>
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fontawesome")
    @Scripts.Render("~/bundles/glide")
    @Scripts.Render("~/admin/custom")
    @RenderSection("Scripts", required: false)
</body>
</html>